html ,body{
margin: 0;
padding: 0;
height: 100%;
text-align: center;
font-family: 'Edu SA Beginner', cursive;
font-family: 'Handjet', cursive;
font-weight: 500;
}

section{
    min-height: 100%;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

