* {
   
  background-color: rgb(5, 21, 243);
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin: 10px;
}

.encabezado {
  font-size: 30px;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: blue;
}

#imagendecentro{
    font-size: 1px;
    justify-content: center;
}

h2 {
  font-size: 24px;
  font-family: "Handjet", cursive;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/

  color: #588157;
}
